env_ActiveScanLab/
env*/
.venv/
venv/
.vscode/
nih_chest_xrays_light/
archive_light/
.DS_Store
ARXIV_V5_CHESTXRAY.pdfֿ
__pycache__/
setup_venv.sh
setup_venv.bat
setup.py
activate_venv.sh
activescanlab.egg-info/